

@using Microsoft.AspNetCore.Identity
@using WeightTrackerApp6.Models;
@model WeightDetails

@{ Layout = "_LayoutProfile";
    ViewData["Title"] = "Details";
    }

<div class="row">
    <div class="col-xl-12 order-xl-1">
        <div class="card card-profile">
            <img src="~/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top" height="120px">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="#">
                            <img src="~/img/theme/team-4.jpg" class="rounded-circle">
                        </a>
                    </div>
                </div>  
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                
                <div class="d-flex justify-content-between">
                    
                    <a href="/WeightDetails/Weight_details" class="btn btn-sm btn-default float-right">Add Weight Details</a>
                    @*<a class="nav-link" href="@Url.Action("Profile")">
                        <i class="ni ni-single-02 text-yellow"></i> User profile
                    </a>*@
                </div>
            </div>
            <!--<div class="card-body pt-0 justify-content-center">-->
                @*<span class="text-muted d-block mb-2"><i class="material-icons mr-1">first name</i>@Model.First_Name</span>*@
                <!--<div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="First_Name">First name</label>
                            <input type="text" id="i" name="First_Name" class="form-control" placeholder="First name" value="Model.First_Name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="Last_Name">Last name</label>
                            <input type="text" id="i" name="Last_Name" class="form-control" placeholder="Last name" value="Model.Last_Name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="Age">Age</label>
                            <input type="text" id="Age" name="Age" class="form-control" placeholder="Age" value="Model.Age">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="Gender">Gender</label>
                            <input type="text" id="Gender" name="Gender" class="form-control" placeholder="Gender" value="Model.Gender">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="Email_address">Email Address</label>
                            <input type="email" id="Email_address" name="Email_address" class="form-control" placeholder="Email Address" value="Model.Email_address">
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label class="form-control-label" for="User_Name ">Username</label>
                            <input type="text" id="User_Name " name="User_Name" class="form-control" placeholder="Username" value="Model.User_Name">
                        </div>
                    </div>
                </div>


                <hr class="my-4" />-->
                <!-- Address -->
                <!--<h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="Address">Address</label>
                                <input id="Address" name="Address" class="form-control" placeholder="Home Address" type="text" value="Model.Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="City">City</label>
                                <input type="text" id="City" name="City" class="form-control" placeholder="City" value="Model.City">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="Country">Country</label>
                                <input type="text" id="Country" name="Country" class="form-control" placeholder="Country" value="Model.Country">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="Postal_code">Postal code</label>
                                <input type="number" id="Postal_code" name="Postal_code" class="form-control" placeholder="Postal code" value="Model.Postal_code">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />-->
                <!-- Description -->
                <!--<h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">About Me</label>
                        <textarea rows="4" class="form-control" name="About_me" placeholder="A few words about you ..." value="Model.About_me">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                    </div>
                </div>
            </div>
                    
                </div>-->

                <div class="text-center">
                    <h5 class="h3">
                        @*@(model.fullname != null ? model.fullname : model.username)*@<span class="font-weight-light">, 27</span>
                    </h5>
                    <div class="h5 font-weight-300">
                        <i class="ni location_pin mr-2"></i>
                        Bucharest, Romania
                    </div>
                    <div class="h5 mt-4">
                        <i class="ni business_briefcase-24 mr-2"></i>
                        Solution Manager - Creative Tim Officer
                    </div>
                    <div>
                        <i class="ni education_hat mr-2"></i>University of Computer Science
                    </div>
                </div>
            </div>
        </div>
    </div>
    
